body {
  background: linear-gradient(#e75984, #4ea6ea);
  background-repeat: no-repeat;
}
p h6 {
  font-family: "Nunito", sans-serif;
  font-size: smaller;
}
.col {
  font-family: "Nunito", sans-serif;
}

.form-control {
  margin-bottom: 5px;
}

.City {
  color: #d66290;
}

.Description:first-letter {
  text-transform: capitalize;
}
.overview:first-letter {
  text-transform: capitalize;
  line-height: 0%;
}
.Temperature {
  text-align: left;
  font-size: 37px;
}

.weather-forecast {
  text-align: center;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 5px;
  font-size: x-small;
}

.WholeApp {
  max-width: 512px;
  background-color: white;
  border-radius: 12px;
  margin: 50px auto 400px auto;
  padding: 50px 50px 5px 50px;
  color: #4ea6ea;
  font-size: normal;
}

.MainIcon {
  margin: auto;
  width: 70px;
}

button {
  border-radius: 100 px;
  border-color: #4ea6ea;
  border-width: 0px;
  margin: 100px;
  padding: 5px;
  background-color: white;
  color: #4ea6ea;
  font-family: "Nunito", sans-serif;
  transition: all 200ms ease-in-out;
  text-decoration: underline;
}
button:hover {
  background: lightsteelblue;
  color: white;
}

.weather-forecast-temperatures {
  font-size: small;
}

.Github {
  font-size: xx-small;
}
